.pro-product-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}

.pro-product-image-container {
  flex: 1;
  margin-right: 20px;
}

.pro-product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.pro-thumbnail-container {
  display: flex;
  margin-top: 10px;
}

.pro-thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.pro-thumbnail:hover,
.pro-thumbnail.pro-selected {
  border: 2px solid #000;
}

.pro-product-details {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.pro-product-price,
.pro-product-frame,
.pro-product-lens,
.pro-add-to-cart-button,
.pro-product-shape,
.pro-product-description,
.pro-product-category {
  margin-bottom: 20px;
}

.pro-product-description {
  width: 70%;
}

.pro-add-to-cart-button {
  background: orange;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pro-add-to-cart-button:hover {
  background-color: rgb(200, 167, 4);
}

.pro-add-to-cart-button.added {
  background-color: orange; 
  color: white;
}

.pro-add-to-cart-button.added:hover {
  background-color: rgb(200, 167, 4); 
}

/* Notification styles */
.pro-notification {
  position: fixed;
  left: -300px;
  top: 20px;
  z-index: 999;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  animation: slideIn 0.5s forwards, slideOut 0.5s 2.5s forwards;
}

.pro-notification-content {
  display: flex;
  align-items: center;
}

.pro-notification-icon {
  margin-right: 10px;
  font-size: 20px;
}

@keyframes slideIn {
  from {
    left: -300px;
  }
  to {
    left: 20px;
  }
}

@keyframes slideOut {
  from {
    left: 20px;
  }
  to {
    left: -300px;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .pro-product-page {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .pro-product-image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .pro-product-details {
    width: 100%;
    padding: 15px;
    box-shadow: none;
  }

  .pro-product-name {
    font-size: 40px;
  }

  .pro-cart-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .pro-product-status,
  .pro-add-to-cart-button {
    margin-bottom: 10px;
  }

  .pro-add-to-cart-button {
    width: 100%;
    text-align: center;
  }
}
