/* cart.css */
.cart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    border-radius: 15px;
    border:1px solid rgb(106, 102, 102);
    overflow: hidden;

  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .item-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantity button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .removebutton {
    position: relative;
    margin-top: 5px;
    left: 600px; /* Adjust left position as needed */
    cursor: pointer;
    height:20px;
    transition: opacity 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

.removebutton:hover {
    opacity: 0.8;
    color: #c82333; /* Text color change on hover */
}

.x-icon {
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.removebutton:hover .x-icon {
    color: #c82333; /* Change color of 'x' when button is hovered */
}

  
  .quantity span {
    margin: 0 10px;
    font-size: 16px;
  }
  
  button.remove {
    background-color: #dc3545;
  }
  
  button.remove:hover {
    background-color: #c82333;
  }
  .total-price p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 200;
  }
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .cart-item img {
      width: 80px;
      height: 80px;
    }
  }