/* Layout */
.admin-layout {
    display: flex;
    height: 125vh; /* Fixed to the viewport height */
    flex-direction: row;
}

.admin-sidenav {
    width: 350px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.admin-content {
    flex: 1; /* Allows the content to take up remaining space */
    background-color: #ecf0f1;
    /* Removed margin-left to prevent extra spacing */
    /* padding: 20px; */
    margin-left: 30px;
}

/* General Styling */
.admin-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.back-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #45a049;
}

/* Table Styles */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-table th {
    background-color: #f4f4f4;
}

.product-image-table {
    width: 100px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.product-actions-table {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-button, .delete-button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: none;
}

.edit-button {
    background-color: #4CAF50;
}

.delete-button {
    background-color: #ff0000;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #c53535;
}

/* Search Bar */
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

/* Pagination Controls */
.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #3498db;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.pagination-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.pagination-info {
    font-size: 16px;
}
