body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin-left: 50px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

/* Side Navbar Styles */
.side-navbar {
  display: flex;
  width: 20%;
  flex-direction: column;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  margin-left: 50px;
}

.side-options {
  flex: 1;
}

.side-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.side-sub-options {
  display: none;
  padding-left: 20px;
}

.side-sub-option {
  padding: 5px;
  display: flex;
  align-items: center;
}

.side-line {
  border-top: 2px solid #ccc;
}

/* Product List Styles */
.product-list-container {
  flex: 1;
  margin-left: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card-link {
  text-decoration: none; /* Remove underline */
}

.product-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 350px; /* Ensure all product cards are the same height */
}

.product-image {
  width: 100%;
  height: 200px; /* Ensure all images are the same height */
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.product-card:hover .product-image {
  transform: translateX(-40%);
}

.product-name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%; /* Ensure the name occupies the full width */
  overflow: hidden;
  white-space: normal; /* Allow wrapping */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

.product-price {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
